body {

    box-sizing: border-box;
    margin: 0;
    padding: 80px 20px 0; /*primer numero es de arriba, segundo abajo y tercero lados*/
    background-color:  bisque;
    font-family: sans-serif;
    font-size: 18px;

}

header{
    position: fixed;
    background-color: blue;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
}

aside{
    position: fixed;
    background-color: aquamarine;
    top: 80px;
    left: 0;
    bottom: 20px;
    width: 20%;
}

section{
    position: fixed;
    overflow-y: scroll;
    background-color: aquamarine;
    top: 80px;
    left: 20%;
    bottom: 20px;
    width: 80%;
}

footer{
    text-align: center;
    position: fixed;
    background-color: black;
    color: white;
    left: 20%;
    bottom: 0;
    height: 20px;
    width: 100%;
}

p{
    color: blue;

}

h1,h2,h3 {
    font-family: fantasy;
    color: black;
}
article p{
    background-color: black;
    color: white;


}

#titulo{
    text-align: center;
    background-color: blue;
    color: white;
    font-family: cursive;
    font-size: 22px;

}

.producto{
    background-color: #ff00cc
}

nav a{
    background-color: black;
    color: white;

}

nav a:hover{
    background-color: red;
    color: yellow;

}